<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="NijnCoach.Properties.Settings.NijnCoachConnectionString" connectionString="server=sql.ewi.tudelft.nl;User Id=nijntje;password=dickbruna;Persist Security Info=True;database=NijnCoach" providerName="MySql.Data.MySqlClient" />
    <add name="NijnCoachEntities" connectionString="metadata=res://*/Database.Model1.csdl|res://*/Database.Model1.ssdl|res://*/Database.Model1.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql.ewi.tudelft.nl;User Id=nijntje;password=dickbruna;Persist Security Info=True;database=NijnCoach&quot;" providerName="System.Data.EntityClient" />
    <add name="NijnCoachEntities1" connectionString="metadata=res://*/Database.DBModel.csdl|res://*/Database.DBModel.ssdl|res://*/Database.DBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql.ewi.tudelft.nl;User Id=nijntje;password=dickbruna;Persist Security Info=True;database=NijnCoach&quot;" providerName="System.Data.EntityClient" />
    <add name="NijnCoachEntities2" connectionString="metadata=res://*/Database.Model2.csdl|res://*/Database.Model2.ssdl|res://*/Database.Model2.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=sql.ewi.tudelft.nl;User Id=nijntje;password=dickbruna;Persist Security Info=True;database=NijnCoach&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>