 
.DS_Store

#Ignoring compilation files of Latex

*.xdy
*.toc
*.synctex.gz
*.out
*.log
*.ist
*.gls
*.glo
*.glg
*.aug
*.tex.aux

#Visual Studio project

Code\NijnCoach\NijnCoach.suo
*.suo
*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.vcproj.*.user
[Dd]ebug
[Rr]elease
*.suo
